## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
sample_list_1 [:10] #me ense√±a loos 10 primeros valores

[28, 85, 89, 97, 37, 87, 25, 98, 90, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1= set(sample_list_1)
set1
len(set1)


#it is still 80 as there we no duplicated numbers

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2= []
for element in range (80):
    sample_list_2.append(random.randint(0,100))
sample_list_2
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)
len(set2)
#no, all the duplicated values have desapeared

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3=set1-set2
set3
len(set3)

31

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4=set2-set1
set4
len (set4)

10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5=set1.intersection(set2)
set5
len(set5)

49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

print(len(set2)-len(set1)+len(set3)==len(set4))
#darle una vuelta

True

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here

set6.update(set3, set5)

In [37]:

set6

{0,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 10,
 11,
 12,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 43,
 44,
 46,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 95,
 96,
 97,
 98}

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set1 is set6

#is not exactly the same eventhough the values are the same. They ocupy different memory spaces

False

In [14]:
if set1==set6:
    print ("they are equal")
else:
    print("they are not equal")

they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
# Your code here
if set2.issubset(set1) is True:
    print ("set1 contains set2")
else:
    print ("set1 does not containset2")
    
if set3.issubset(set1) is True:
    print ("set1 contains set3")
else:
    print ("set1 does not containset3")

set1 does not containset2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
set_new=set3.union(set4).union(set5)
set_new2=set1.union(set2)

set_new==set_new2

#yes, they are equal

True

#### Using the `pop` method, remove the first element from `set1`.

In [43]:
# El m√©todo pop() en conjuntos no acepta √≠ndices como lo hace en las listas. El m√©todo pop() en conjuntos elimina y devuelve un elemento arbitrario 
#no tiene mucho sentido porque en los sets no hay orden como tal
set1=list(set1)
set1.pop(0)
set1

[5,
 6,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 91,
 92,
 94,
 95,
 97,
 98]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [68]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for e in list_to_remove:
    if e not in set1:
        print (e)

61
69
89
99

In [72]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
lst=[]
for e in list_to_remove:
    if e not in set1:
           lst.append(e)


lst

[61, 69, 89, 99]