## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = random.sample(range(100),k = 80)
print(sample_list_1)

[63, 20, 42, 71, 82, 91, 92, 23, 34, 2, 74, 97, 65, 39, 67, 0, 87, 57, 79, 3, 56, 75, 25, 89, 10, 4, 52, 85, 41, 66, 94, 68, 1, 93, 90, 88, 35, 59, 69, 33, 99, 13, 54, 80, 30, 49, 55, 12, 11, 72, 81, 96, 36, 17, 84, 60, 58, 62, 38, 95, 26, 5, 73, 50, 24, 61, 14, 27, 37, 86, 76, 70, 9, 32, 77, 48, 40, 78, 29, 6]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

In [6]:
print(set1)

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 17, 20, 23, 24, 25, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 48, 49, 50, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)
len(sample_list_2)

[86, 85, 4, 92, 93, 44, 71, 46, 76, 7, 34, 33, 94, 25, 86, 29, 97, 22, 45, 76, 93, 53, 1, 34, 97, 63, 88, 55, 84, 46, 21, 10, 84, 1, 6, 6, 6, 1, 35, 41, 43, 23, 91, 59, 97, 40, 28, 64, 99, 89, 69, 32, 15, 95, 37, 10, 80, 7, 16, 55, 64, 85, 58, 90, 32, 59, 51, 25, 20, 95, 71, 81, 76, 74, 100, 22, 96, 21, 89, 63]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)
len(set2)

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set1.difference(set2) # elements presented in set1 but not in set2

In [10]:
print(set3)
type(set3)

{0, 2, 3, 5, 9, 11, 12, 13, 14, 17, 24, 26, 27, 30, 36, 38, 39, 42, 48, 49, 50, 52, 54, 56, 57, 60, 61, 62, 65, 66, 67, 68, 70, 72, 73, 75, 77, 78, 79, 82, 87}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = set2.difference(set1) # elements presented in set2 but not in set 1
print(set4)
type(set4)

{64, 100, 7, 43, 44, 45, 46, 15, 16, 51, 21, 22, 53, 28}

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 4, 6, 10, 20, 23, 25, 29, 32, 33, 34, 35, 37, 40, 41, 55, 58, 59, 63, 69, 71, 74, 76, 80, 81, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
len(set1) #set of 80 unique elements

80

In [14]:
len(set2) # set of 80 elements (that contains duplicates of elements thats why the lenght of it is not 80)

53

In [15]:
len(set3) # elements presented in set1 but not in set2 that is set 1 minus intersection of set1 and set2

41

In [16]:
len(set4) # elements presented in set2 but not in set1 that is set 2 minus intersection of set1 and set2

14

In [17]:
len(set5) # intersection of set1 and set 2

39

In [19]:
len (set3) + len (set4) + len(set5) == len(set1) + len (set2) - len(set5)

True

#### Create an empty set called `set6`.

In [45]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [50]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6) # now set6 is equal to set1
type(set6)
len(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 20, 21, 23, 24, 25, 26, 27, 28, 29, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 71, 72, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

80

#### Check if `set1` and `set6` are equal.

In [51]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [52]:
# Your code here
set2.issubset(set1)

False

In [53]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
len(set3)

32

In [57]:
len(set4)

6

In [58]:
len(set5)

48

In [59]:
type(set1)

set

In [60]:
type(set2)

set

In [61]:
type(set3)

set

In [63]:
# Your code here
set_agreg_345 = set3.union(set4,set5)
len(set_agreg_345)

86

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here
set1.pop() # remove the smallest element in the set

10

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [87]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        list_to_remove.remove(next(iter(list_to_remove))) # ????? 
        print(list_to_remove)

[9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]