## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[83, 4, 6, 75, 62, 42, 21, 65, 95, 69, 28, 85, 34, 77, 31, 11, 29, 36, 48, 41, 68, 82, 24, 63, 16, 84, 72, 88, 89, 20, 30, 56, 55, 87, 18, 61, 39, 5, 23, 58, 79, 74, 44, 90, 91, 43, 14, 96, 3, 8, 37, 15, 45, 33, 0, 52, 38, 93, 70, 73, 51, 78, 17, 10, 99, 40, 67, 19, 46, 26, 98, 27, 12, 49, 22, 13, 80, 92, 47, 71]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = random.sample(range(100), k=80)

for _ in range(80):
    random_value = random.randint(0, 100)
    sample_list_2.append(random_value)

print(sample_list_2)

[83, 21, 68, 47, 52, 51, 61, 39, 48, 67, 69, 82, 46, 54, 98, 97, 92, 4, 55, 19, 14, 62, 9, 26, 44, 17, 8, 42, 31, 22, 95, 24, 76, 27, 0, 34, 78, 11, 94, 16, 71, 91, 1, 13, 70, 74, 6, 72, 33, 50, 99, 7, 43, 93, 40, 60, 15, 36, 32, 25, 53, 81, 37, 77, 10, 18, 79, 87, 20, 49, 84, 41, 89, 12, 85, 5, 56, 66, 29, 88, 31, 60, 73, 41, 28, 16, 43, 52, 29, 68, 73, 95, 81, 47, 36, 91, 31, 59, 89, 64, 11, 58, 48, 8, 87, 99, 3, 74, 26, 62, 90, 23, 3, 67, 40, 41, 91, 66, 59, 94, 36, 70, 83, 19, 49, 11, 97, 21, 20, 81, 25, 23, 80, 72, 89, 46, 60, 34, 40, 51, 17, 62, 55, 19, 47, 76, 83, 29, 81, 23, 94, 16, 65, 59, 90, 85, 26, 12, 37, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

91

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{96, 38, 75, 30, 63}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2 - set1
print(set4)

{32, 1, 64, 66, 97, 7, 9, 76, 81, 50, 53, 54, 25, 59, 60, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1 & set2

print(set5)

{0, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 31, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 55, 56, 58, 61, 62, 65, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
result = len(set1.union(set2, set3, set4, set5)) == (
    len(set1) + len(set2) + len(set3) - 
    len(set1.intersection(set2)) - len(set1.intersection(set3)) - len(set2.intersection(set3)) +
    len(set1.intersection(set2, set3))
)
print("The relationship holds:", result)

The relationship holds: True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 55, 56, 58, 61, 62, 63, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

if set1 == set6:
    print("Equal")
    
else:
    print("Not equal")

Equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

subset2 = set2.issubset(set1)
print(f"is set2 in set1?: {subset2}")

subset3 = set3.issubset(set1)
print(f"is set3 in set1?: {subset3}")

is set2 in set1?: False
is set3 in set1?: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

aggregated_set1 = set3.union(set4, set5)
print("aggregated set1:", aggregated_set1)

aggregated_set2 = set1.union(set2)
print("aggregated set2:", aggregated_set2)

equal = aggregated_set1 == aggregated_set2
print("Are the values equal?", equal)

aggregated set1: {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
aggregated set2: {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
Are the values equal? True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

set_pop = set1.pop()
print("removed first element:", set_pop)
print("original set:", set1)

removed first element: 0
original set: {3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 55, 56, 58, 61, 62, 63, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)
print("Remaining elements:", set1)

Remaining elements: {3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 55, 56, 58, 62, 63, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 95, 96, 98}